/*Will Alt's first homework assignment*/

* {
	box-sizing: border-box;
	text-align: center;
	background-color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

body {
	margin: 0;
	padding: 0;
}

header, div.nav, footer, div.section {
	margin: auto;
	padding: 20px;
	margin-bottom: 10px;
	color: grey;
	background: white;
	width: 960px;
}

header {
	margin-top: 10px;
}

div.nav {
	margin-bottom: 20px;
}

div.section {
	width: 495px;
	height: 300px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

div.article {
	margin: auto;
	padding: 30px 20px 5px 20px;
	margin-top: 50px;
	margin-bottom: 5px;
	color: white;
	height: 200px;
}

#h {
	margin: auto;
	padding: 10px;
	margin-top: 35px;
	font-weight: bold;
	color: grey;
	background-color: white;
}

#p {
	margin: auto;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	background-color: white;
	color: grey;
}

aside {
	margin: auto;
	color: grey;
	background: white;
	margin-left: 20px;
	height: 300px;
	width: 445px;
	padding-top: 20px;
	margin-bottom: 10px;
	float: left;
}

div.main {
	display: inline-block;
}

footer {
	clear: both;
	margin-top: 5px;
}